<div id = "all">
	<br>
	<br>
	<div id = "search">
		<input id = "searchBar"  ng-model="api.searchText" ng-change="validate()"><br>
	</div>

	<div id = "advanced" ng-show="showAdv"><br>
		Location<input id = "advBar" type="text" ng-model="searchObj.location"><br>
		Calories<input id = "advBar" type="text" ng-model="searchObj.calories"><br>
		Price<input id = "advBar" type="text" ng-model="searchObj.price"><br>
	</div>
	
	<div id = "notValid" ng-hide="isValid">Not valid input. Only letters are allowed.</div>

	<div id = "bothButtons">	
		<a id = "searchButton" href="#/results" ng-click="handleClick()">Search</a>
		<button id = "toggleButton" ng-click="(showAdv)?showAdv=false:showAdv=true;">Toggle Advanced Search</button>
	</div>
</div>
