.results-list {
	width: 30%;
	float: left;
}

.results-details {
	width:70%;
	float:right;
}
body {
	background-color:Tan;
}
#banner{   
 	font-size: 3.0em;
	color: white;
    	text-align: center;
	text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
    	background-color: #20B2AA;
    	margin: 0px;
    	padding: 1px
}
button {
	border-radius: 10px;
	color: white;
 	background-color: black;
  	border-color: darkcyan;
}
#searchButton {
	padding:12px;
  	background-color: palevioletred;
  	border: 1px solid darkmagenta;
  	color:black;
  	text-decoration:none;
	border-radius: 10px;
}
#bothButtons {
	height: 100px;
	width: 230px;
	margin-left: auto;
	margin-right: auto;
}
#searchBar {
	border: 2px solid #000; 
	border-radius: 10px;
	height: 75px; 
	width: 500px; 
	font-size: 375%;
}
#search { 
	height: 100px;
	width: 500px; 
	margin-left: auto;
	margin-right: auto;
}
#advBar {
	border: 2px solid #000; 
	border-radius: 10px;
	height: 50px; 
	width: 300px; 
	font-size: 225%;
}
#advanced{
	height: 270px;
	width: 300px;
 	margin-left: auto;
    	margin-right: auto;
}
#all {
	width:610px;
	height:530px;
	margin:auto;
	position:relative;
	//line-height: 4em;
//	font-size:28pt;
	top:0;
	bottom:0;
	right:0;
	left:0;  
	background-color:white;   
}

