.results-list {
	width: 30%;
	float: left;
	height: 500px;
	background-color: white;
	font-size: 2.5em;
	outline-style: double;
}

#foodListBanner {
	height: 60px;
  	text-align: center;
}

#detailsBanner {
	height: 100px;
  	text-align: center;
    font-size: 1.8em;

}

#selectedFood {
	text-align: center;
	outline-style: double;
	width: 600px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;

}

#description {
	width: 550px;
	margin-left: auto;
	font-size: .5em;
	text-align:left;

}

#descriptionList {
	font-size:.5em;
	text-align:left;

}

.results-details {
	width:70%;
	height: 500px;
	float:right;
	font-size:3em;
}

.selected {
	border: 1px solid #000;
}
